

.d-flex {
    width: 450px;
}


.container-fluid{
  justify-content: center !important;
}


.btn-outline-danger{
    margin-top: 40px !important;
    width: 500px !important;
}


#entireList{
      margin-top: 40px;
      text-align: initial;
      padding-left: 10%;
      padding-right: 10%;
}


.top_info{
  padding-top: 40px;
  letter-spacing: 2px;
}


.names{
  padding-left: 10px;
}

.conditions{
  float: right;
  padding-right: 10px;
}


#entireList div:nth-child(2n) {
  background-color: #EEEEEE;
}


.titles{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}

.titles span{
  font-size: 25px;
}



.results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}



.ind_res{
  background-color: #EEEEEE;
  margin: 10px;
  letter-spacing: 0px;
  padding: 10px;
  border-radius: 5px;
  height: 80%;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.05);
}


.var_results{
  padding-top: 35px;
}
